body {
  background-color: rgb(226, 226, 226);
}
ul li {
  list-style: none;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
  font-size: 18px;
}
a:hover {
  color: red;
}
ul {
  padding-left: 20px;
}
.container {
  min-width: 1280px;
  margin: 0 auto;
 
}
.main-wrapper {
  display: flex;
}



.main {
  grid-area: main;
  /* background-color: rgb(101, 134, 101); */
  padding: 0 10px;
  width: 100%;
}



