.title {
   color: red;
}

.wrapper {
   width: 100%;
   background: #00abff;
   padding-bottom: 20px;
}

.wrapperInner {
   display: flex;
   /* justify-content: space-between; */
}

.dialogs {
   padding-left: 20px;
   /* border: 1px solid; */
}

.dialogsItem.active {
   color: gold;
}
.messages {
   /* border: 1px solid; */
   margin-left: 50px;
}
